html {

}

body {
  font-size: 14px;
  	background: url(astrocat.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #3FB58E;
}

form {
  margin-top: 30px;
}

input,
button,
select,
textarea {
  margin: 0 0 10px 0;
  width: 100%;
}

textarea[name="description"] {
  min-height: 100px;
}

input[type="submit"] {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
